* {
    margin: 0px;
    padding: 0px;
    font-family: 'Comic Neue', cursive;

}

.entete {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 80px;
    align-items: center;
    background-color: rgba(240, 248, 255, 0.849);
    transition: transform 2.2s;
    border-bottom: solid black 3px;
}

.entete a:hover {
    color: grey;
    transform: scale(1);
}

header a {
    color: #234FC7;
    text-decoration: none;
    font-size: 35px;
}

.part1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(61, 61, 61);
}

h1 {
    font-size: 60px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #234FC7;
    background-color: rgba(240, 248, 255, 0.849);
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 10px;
    border: solid black 3px;
}

article {
    font-size: 30px;
    width: 60%;
    line-height: 2em;
    text-align: justify;
    margin-top: 40px;
    margin-bottom: 150px;
    color: rgba(240, 248, 255, 0.849);
}

.part2 {
    display: flex;
    flex-direction: row;
    padding-top: 150px;
    padding-left: 100px;
    padding-bottom: 150px;
    background-color: grey;
}

.img2 {
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    border: solid 2px black;
}

section p {
    margin-left: 20px;
    width: 800px;
}

.rouge {
    color: red;
    margin-bottom: 50px;
}

.jaune {
    color: yellow;
    margin-bottom: 50px;
}

.vert {
    color: green;
    margin-bottom: 50px;
    margin-top: 50px;
}

.rose {
    color: purple;
}

.part2 p {
    line-height: 2em;
    text-align: center;
    font-size: 30px;
}

footer {
    background-color: rgba(240, 248, 255, 0.849);
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 80px;
    flex-grow: 1;
    border-top: 5px solid black;
}


footer a,
footer p {
    font-size: 35px;
    text-decoration: none;
    color: #234FC7;
    transition: transform 2.2s;
}

footer a:hover {
    color: grey;
    transform: scale(1);



}