* {
    margin: 0px;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.entete {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 80px;
    align-items: center;
    background-color: #584B4F;
    transition: transform 2.2s;
    border-bottom: solid black 3px;
}

.entete a:hover {
    color: green;
    transform: scale(1);
}

header a {
    color: #c2833c;
    text-decoration: none;
    font-size: 35px;
}

.imgtitre {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.part1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(61, 61, 61);
}



.circle {
    position: absolute;


    opacity: 0.3;

    margin: 10px;
    background: black;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    margin: 0;
    background: radial-gradient(circle at bottom, #81e8f6, #76deef 10%, #055194 80%, #062745 100%);
    justify-content: center;
    align-items: center;
    animation: bulle 5s ease-out infinite;
    border: solid 3px #c2833c;
}

.atom img {
    margin: 90px;
    border-radius: 51%;
    border-style: double;
    border-color: #c2833c;
}



@keyframes bulle {
    0% {
        transform: scale(1.1);
    }

    20% {
        transform: scaleY(0.90) scaleX(1.15);
    }

    48% {
        transform: scaleY(1.10) scaleX(0.85);
    }

    68% {
        transform: scaleY(0.95) scaleX(1.04);
    }

    80% {
        transform: scaleY(1.04) scaleX(0.98);
    }

    90% {
        transform: scaleY(0.98) scaleX(1.09)
    }

    100% {
        transform: scale(1.1);
    }
}


.mouvement {
    margin-right: 250px;
    position: relative;
    animation-name: vole;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes vole {
    0% {
        left: 0px;
        top: 0px;
    }

    15% {
        left: 350px;
        top: 45px;
    }

    25% {
        left: 200px;
        top: 0px;
    }

    38% {
        left: 150px;
        top: 75px;
    }

    50% {
        left: 100px;
        top: 0px;
    }

    65% {
        left: 0px;
        top: 90px;
    }

    75% {
        left: 200px;
        top: 0px;
    }

    100% {
        left: 0px;
        top: 0px;
    }
}

h1 {
    font-size: 60px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #c2833c;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 10px;
    border: solid black 3px;
}

article {
    font-size: 30px;
    width: 60%;
    line-height: 2em;
    text-align: justify;
    margin-top: 40px;
    margin-bottom: 150px;
    color: #c2833c;
}

.part2 {
    display: flex;
    flex-direction: row;
    padding-top: 150px;
    padding-left: 100px;
    padding-bottom: 150px;
    background-color: rgb(34, 34, 34);
    color: #c2833c;
    font-size: 30px;
    border-top: solid 2px black;
}

.img2 {
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    border: solid 2px black;
}

.legende1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 450px;
    align-items: center;
}

.legende2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 450px;
    align-items: center;
}

.rouge {
    background-color: rgb(61, 61, 61);
    padding: 30px;
    border-radius: 10px;
    border: solid 6px red;

}

.bleu {
    background-color: rgb(61, 61, 61);
    padding: 30px;
    border-radius: 10px;
    border: solid 6px blue;

}

.vert {
    background-color: rgb(61, 61, 61);
    padding: 30px;
    border-radius: 10px;
    border: solid 6px green;

}

.jaune {
    background-color: rgb(61, 61, 61);
    padding: 30px;
    border-radius: 10px;
    border: solid 6px yellow;

}


footer {
    background-color: #584B4F;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 80px;
    flex-grow: 1;
    border-top: 5px solid black;
}


footer a,
footer p {
    font-size: 35px;
    text-decoration: none;
    color: #c2833c;
    transition: transform 2.2s;
}

footer a:hover {
    color: green;
    transform: scale(1);



}